.banner{
    height:100vh;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url("../utils/moutnainbg.jpg");
   background-position-y: 15%;
   margin:auto;
   opacity:1.2;
  
}

.overlay{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    height:100vh;

  

}
@media screen and (max-width:500px){

    .banner{
        height:50vh;
        width:100%;
        background-size:cover;
        background-repeat:no-repeat;
        background-image: url("../utils/moutnainbg.jpg");
       background-position-y: 15%;
       margin:auto;
      
    }

}



@media screen and (min-width:500px) and (max-width:768px){

    .banner{
        height:60vh;
        width:100%;
        background-size:cover;
        background-repeat:no-repeat;
        background-image: url("../utils/moutnainbg.jpg");
       background-position-y: 15%;
       margin:auto;
      
    }
    
}

@media screen and (min-width:768px)and (max-width:1024px) {
    .banner{
        height:60vh;
        width:100%;
        background-size:cover;
        background-repeat:no-repeat;
        background-image: url("../utils/moutnainbg.jpg");
       background-position-y: 15%;
       margin:auto;
      
    }






    
}